[hidden] {
    display: none !important;
}

tile {
    display: inline-block;
    font-size: xx-large;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.input-container label,
.input-container input {
    font-size: larger;
}

.bad-input {
    color: red;
    font-size: medium;
}

.maze-container {
    font-family: monospace;
    font-size: 0;
    width: fit-content;
    user-select: none;
    /*Safari*/
    -webkit-user-select: none;
    /*Firefox*/
    -moz-user-select: none;
}